/* applied to all web content */
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
html {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
#navbar {
    border: 5px solid red;      /* debuging */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 98, 98);
}
.navbar-container {
    border: 4px solid orange;       /* debugging */
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
            /* Navbar-Container : content */
/* Navbar-logo */
.logo-container {
    border: 3px solid yellow;       /* debugging */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container a, .logo-container a ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    font-size: 30px;
    font-weight: 900;
}
.one {
    color: rgb(255,255,255);
}
.two {
    color: rgb(241,80,37)
}
.logo-container a ul:hover .one {
    color: rgb(241,80,37)
}
.logo-container a ul:hover .two {
    color: rgb(255,255,255);
}
/* Navbar-list-container */
.navbar-list-container {
    border: 3px solid yellow;       /* debugging */
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-list-container ul, .navbar-list-container ul li a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navbar-list-container ul li {
    border: 2px solid green;       /* debugging */
    padding: 12px;
}
.navbar-list-container ul li:hover, .navbar-list-container ul li:hover a  {
    background-color: white;
    color: rgb(241,80,37);
}
/* --------------------- Navbar - resizing @ media-------------------- */
@media screen and (max-width: 628px) {
    .navbar-container, .navbar-list-container {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 455px) {
    .navbar-list-container ul {
        flex-direction: column;
    }
    .navbar-list-container ul li {
        width: 300%;
        overflow: hidden;
    }
}
@media screen and (max-width: 425px) {
    .navbar-list-container ul li {
        width: 280%;
    }
}
@media screen and (max-width: 375px) {
    .navbar-list-container ul li {
        width: 230%;
    }
}
/* Main - Container */
#main-container {
    border: 5px solid red;      /* debugging */
    display: flex;
    justify-content: center;
    margin: 5em 0;
    background-color: rgb(245,246,234);
}
.main-content {
    border: 4px solid orange;       /* debugging */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    padding: 10px;
}
/* Main - Dish */
.sub-container-one {
    border: 3px solid yellow;       /* debugging */
    flex: 2.5 1 0%;
    display: flex;
    justify-content: center;
}
.main-dish-image {
    width: 100%;
    height: 100%;
}
/* Trial- might delete */
.main-dish a {
    border: 2px solid green;        /* debugging */
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    padding: 10px;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 470px;
}
/* End of trial */
.sub-container-one a:hover, .main-dish-image:hover {
    text-decoration: underline;
    opacity: 0.9;
}
/* sub Dish */
.sub-container-two {
    border: 3px solid yellow;       /* debugging */
    flex: 1.5 1 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.sub-dish-images {
    width: 40%;
    height: auto;
}

.sub-dish-container a{
    border: 2px solid green;        /* debugging */
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    padding: 0 10px;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.sub-dish-container a h2 {
    text-transform: capitalize;
}
.sub-dish-container:hover a, .main-dish-image {
    text-decoration: underline;
    opacity: 0.9;
}
/* ---------------------- @Media for Main Content ---------------------- */
@media screen and (max-width: 1024px) {
    .main-content {
        width: 90%;
    }
    .main-dish a h1 {
        font-size: 1.875rem;
    }
    .sub-dish-container a h2 {
        font-size: 1.125rem;
    }
    
}
@media screen and (max-width:768px) {
    .main-dish a h1 {
        font-size: 1.5rem;
    }
    .main-content {
        flex-direction: column;
        width: 100%;
    }
    .sub-dish-images {
        width: auto;
        height: 75%;
    }
}
@media screen and (max-width:425px) {
    .sub-dish-images {
        width: auto;
        height: 50%;
    }
}

/*Footer */
footer {
    border: 5px solid red;      /* debugging */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247,206,67);
}
.footer-main-icon-container {
    border: 4px solid orange;       /*debugging */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 85%;
    background-color: rgb(253,225,92);
    border-radius: 20px;
    margin: 5px;
}
.footer-container {
    border: 3px solid yellow;
    margin: 5px;
}
.three {
    width: 60%;
    display: flex;
    align-items: center;
}
.footer-description-container {
    font-weight: 800;
    text-transform: uppercase;
}
/* Footer - icon */
.footer-icon-container {
    border: 2px solid green;       /* debugging */
    display: flex;
}
.footer-icon-box a {
    border: 1px solid blue;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon {
    width: 80%;
    height: auto;
    filter: grayscale(100%);
}
.footer-icon-box:hover .footer-icon {
    width: 100%;
    height: auto;
    filter: contrast(100%);
    transition: .3s;
}

/* Footer - link */
.footer-nav-container a{
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: rgb(0,0,0);
    font-weight: 300;
    
}
.footer-nav-container a p {
    border: 1px solid transparent;
    
}
.footer-nav-container a:hover p {
    color: rgb(241,80,37);
    border-bottom: 1px solid rgb(241,80,37);
    width: max-content;
    transition: .3s;
}
/* Navbar- disclaimer */
.footer-disclaimer-container p {
    font-size: xx-small;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(0,0,0, .814);
    font-weight: 400;
    line-height: 14px;
}
.footer-disclaimer-container p span {
    font-weight: 900;
}
/* Footer - Ending */
.footer-closing-container {
    background-color: rgb(0,0,0);
    color: rgb(250,250,250);
    justify-content: center;
    display: flex;
    text-transform: capitalize;
    width: 100%;
    font-size: small;
}
.footer-closing-container span {
    font-weight: 800;
}

@media screen and (max-width:1160px) {
    
    .footer-nav-container a{
        font-size: 12px;
    }
    .footer-icon-box a {
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width:919px) {
    .three {
        width: 100%;
    }
    .footer-nav-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
    }
}
@media screen and (max-width:320px) {
    .footer-nav-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-closing-container {
        font-size: x-small;
    }
}