* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.navbar-root {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(99,98,98);
    box-shadow: 1px 5px rgb(0,0,0, 0.2);
    /* border: 1px solid black;    /* debugging */
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 1024px;
    height: 80px;
    /*border: 1px solid red;    /* debugging */
}
.logo {
    display: flex;
    text-decoration: none;
    /*border: 1px solid black;    /* debugging */
}
.logo>p {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 1px;
}
.one {
    color: white;
}
.two {
    color: rgb(241,80,37);
}
.logo:hover .one{
    color: rgb(241,80,37);
    transition: color 0.2s ease-in;
}
.logo:hover .two{
    color: white;
    transition: color 0.2s ease-in;
}
nav {
    display: flex;
    align-items: center;
    /*border: 1px solid black;    /* debugging */
}
nav>a {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 20px;
    color: white;
    /*border: 1px solid red;    /* debugging */
}
nav>a:hover {
    color: rgb(241,80,37);
    background-color: white;
    transition: background-color .2s ease-in, color .2s ease-in;
}
.menu {
    display: none;
    padding: 10px 5px;
    border: none;
    /* border: 1px solid red;    /* debugging */
}
.menu>img {
    width: 30px;
}
/* side-Nav ---> */
.side-nav {
    position: fixed;
    z-index: 800;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    box-shadow: 2px 1px rgb(0,0,0, 0.2);
}
.side-nav-items {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    width: 80%;
    text-align: center;
    color: black;
    padding: 18px 0;
    /* border: 1px solid red;    /* debugging */
}
.side-nav-items:hover {
    color: rgb(241,80,37);
    background-color: white;
    transition: background-color .2s ease-in, color .2s ease-in;
}
/* side-Nav */
/* .clicked */
.navbar-container.clicked{
    justify-content: flex-end;
}
.navbar-root.clicked {
    z-index: 999;
    background-color: whitesmoke;
    box-shadow: none;
}
.logo.clicked {
    display: none;
}
/* main-content */
.main-container {
    display: flex;
    justify-content: center;
    padding: 150px 0;
    background-color: rgb(245,246,234);
    /*border: 1px solid red;    /* debugging */
}
#main-content {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    width: 1024px;
    height: auto;
    /* border: 1px solid black;    /* debugging */
}
.main-dish {
    display: flex;
    padding: 10px;
}
.main-dish>a>img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.main-dish>a{
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -.5px;
    border-radius: 15px;
    padding: 10px;
    color: rgb(15,15,15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*border: 1px solid red;    /* debugging */
}
.main-dish:hover {
    padding: 7px;
    transition: padding .15s ease-in;
}
.main-dish:hover a {
    background-color: white;
    color: rgb(241,80,37);
    transition: background-color .2s ease-in, color .2s ease-in;
}
.side-dish {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red;    /* debugging */
}
.side-dish-container {
    display: flex;
    padding: 10px;
    height: 125px;
    /* border: 1px solid black;    /* debugging */
}
.side-dish-container>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: -1px;
    color: rgb(15,15,15);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 1px solid red;    /* debugging */
}
.side-dish-container>a>img {
    width: 150px;
    border-radius: 7px;
}
.side-dish-container:hover {
    padding: 7px;
    transition: padding .15s ease-in;
}
.side-dish-container>a:hover {
    background-color: white;
    color: rgb(241,80,37);
    transition: background-color .2s ease-in, color .2s ease-in;
}
/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247,206,67);
    padding-top: 10px;
    gap: 10px;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 100%;
    height: auto;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(253,225,92);
}
.footer-description {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.contact-us {
    display: flex;
    flex-direction: column;
    width: 250px;
    /*border: 1px solid red;    /* debugging */
}
.icon-container {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
   /* border: 1px solid black;    /* debugging */
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    /*border: 1px solid black;    /* debugging */
}
.icon>a {
    display: flex;
    justify-content: center;
    align-items: center;

    /*border: 1px solid black;    /* debugging */
}
.icon>a>img {
    width: 30px;
    filter: grayscale(100%);
}
.icon>a:hover img {
    transition: filter .1s ease-in, width .2s ease-in;
    filter: none;
    width: 100%;
}
.footer-link-container{
    
    /*border: 1px solid red;    /* debugging */
}
.footer-links {
    display: flex;
    flex-direction: column;
}
.footer-links>a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 15px;
    padding-top: 5px;
    color: rgb(0,0,0, 0.8);
    letter-spacing: -1px;
    max-width: min-content;
    white-space: pre;
}
.footer-links>a:hover {
    color: rgb(241,80,37);
    transition: color .2s ease-in;
}
.disclaimer {
    display: flex;
    flex-wrap: wrap;
}
.disclaimer>p {
    font-size: x-small;
    line-height: 13px;
    letter-spacing: .5px;
    max-width: 600px;
    padding: 0 10px;
    color: rgb(0,0,0, 0.8);
}
.disclaimer>p>span {
    font-weight: 700;
    color: black;
}
.footer-end {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
}
.footer-end>p {
    color: white;
    letter-spacing: -0.5px;
}
.footer-end>p>span {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}




@media screen and (max-width: 824px) {
    nav>a {
        display: none;
    }
    .menu {
        display: flex;
    }
    #main-content {
        display: flex;
        flex-direction: column;
    }
    .side-dish {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 700px) {
    .side-dish {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .side-dish-container {
        height: auto;
        max-width: 410px;
    }
    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}